/* PAGINATION */

.la-pagination
{
    list-style: none;
}

.la-pagination .active,
.la-pagination .active:hover
{
    color: #fff !important;
    background: rgb(33,150,243) !important;
}
.la-pagination .disabled
{
    pointer-events: none;
}
.la-pagination li
{
    display: inline;

    margin-right: 12px !important;
    padding: 5px 10px;

    -webkit-transition: 700ms;

    color: rgb(33,150,243);
    border: none !important;
}
.la-pagination li:hover
{
    background: rgba(158,158,158,.2) !important;
}
